.Rectangle {
    background-color: rgba(177, 227, 255, 0.5);
    width: 25%;
    height: 450px;
    margin: 60px 20px 20px 20px;
    display: inline-block;
    text-align: center;
    padding-top: 1px;
    font-family: Arial, sans-serif;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }

  .RectangleStudent {
    background-color: rgba(177, 227, 255, 0.5);
    width: 95%;
    height: 100px;
    margin: 40px 0 40px 40px; /* 40px top, 0 right, 40px bottom, 40px left */
    display: flex;
    align-items: center;
    justify-content: left; 
    text-align: center;
    padding-top: 1px;
    font-family: Arial, sans-serif;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }

  .RectangleStudent p {
    text-align: left;
    width: 400px;
    margin-left: 20px; 
  }

  .RectangleButtonContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .RectangleButtonContainerStudent {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .RectangleButton {
    background-color: #003C71;
    color: white;
    padding: 20px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    font-size: 18px;
  }

  .RectangleButtonStudent {
    background-color: transparent;
    color: #003C71;
    padding: 20px 15px;
    margin: 5px 40px 10px 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
  
  .AppHeader {
    background-color: #003C71;
    padding: 0.5px;
    font-size: 25px;
    opacity: 0.75;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .AppHeaderLeft {
    display: flex;
    align-items: center;
  }
  
  .AppHeaderRight {
    display: flex;
    align-items: center;
  }
  
  .SecondHeader {
    background-color: #003C71;
    padding: 0.5px;
    font-size: 18px;
    color: white;
    text-align: left;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
  }
  
  /* Other Styles */
  .SettingIcon {
    width: 30px;
    margin-right: 10px;
  }
  
  .ProfileIcon {
    width: 45px;
    margin-right: 10px;
  }
  
  .LogoIcon {
    width: 45px;
    margin-right: 10px;
  }
  
  .HomeIcon {
    width: 30px;
    margin-right: 20px;
    margin-left: 10px;
  }
  
  .HiTeacherText {
    font-size: 16px;
    font-weight: normal;
    margin-right: 10px;
  }

  .SecondHeader p {
    margin-right: 60px;
  }
  
  