/* General styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4f4f4;
  }
  
  .login-container {
    width: 400px;
    margin: 20px auto 0; /* Center the login container horizontally and add 20px space above */
    background-color: rgba(177, 227, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }  
  
  h1 {
    text-align: center;
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type=email], input[type=password], input[type=text] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  /*Dropdown CSS*/
  select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }
  
  select::after {
    content: '\25BC'; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  select option {
    background-color: #ffffff;
    color: #333333;
  }
  
  /* Buttons */
  button {
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
  }
  
  .login-button {
    background-color: #003C71;
    color: white;
  }
  
  .register-button, .forgot-password-button {
    background-color: transparent;
    color: #003C71;
    margin: 1px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .remember-me input[type=checkbox] {
    margin-right: 5px;
  }
  
  /* Utility classes */
  .hidden {
    display: none;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    .login-container {
      width: 100%;
      margin: 0;
      box-shadow: none;
      border-radius: 0;
    }
  }
  
  /*LoginRegister.js*/
  .login-register-container {
    text-align: center;
  }
  
  .header {
    background-color: #003C71;
    padding: 0.5px;
    font-size: 22px;
    opacity: 0.75;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .server-response {
    text-align: center;
    margin-top: 10px; 
  }
  
  .server-response p {
    color: red; 
    font-weight: bold; 
    font-size: 1.2em;
  }
  
  .login-buttons {
    margin-top: 20px;
  }
  
  button {
    display: block;
    padding: 15px; 
    margin: 10px auto; 
    cursor: pointer;
    background-color: #003C71; 
    color: white;
    border: none;
    border-radius: 8px; 
    font-size: 18px; 
    font-family: Arial, sans-serif;
  }

  /*Registration*/
  .register-container {
    width: 400px;
    margin: 20px auto 0; /* Center the login container horizontally and add 20px space above */
    background-color: rgba(177, 227, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } 

  /*Password Recovery*/
.password-recovery {
  text-align: center;
  margin-top: 20px; /* Add margin to the top of the container */
}

.password-recovery p {
  margin-bottom: 30px; /* Add margin below the paragraph */
}

.password-recovery input[type="email"] {
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 15px; 
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.password-recovery button {
  padding: 10px 20px; 
  border: none;
  border-radius: 5px;
  background-color: #003C71; 
  color: #ffffff;
  cursor: pointer;
}

/*Registration Confirmation*/
.confirmation-container {
  text-align: center;
}

.confirmation-container p {
  margin: 20px 0; 
}

.confirmation-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #003C71;
  color: #ffffff;
  cursor: pointer;
}
  
  
  