/* General styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4f4f4;
  }
  
  .login-container {
    width: 400px;
    margin: 20px auto 0; /* Center the login container horizontally and add 20px space above */
    background-color: rgba(177, 227, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
    
  .SecondHeader p {
    margin-left: 15px; /* Adjust the margin as needed */
  }

  h1 {
    text-align: center;
  }

  .error-message {
    color: #ff0000; 
    font-size: 16px; 
    font-weight: bold; 
    display: block; 
    margin-top: 5px; 
  }

  .HomeButton {
    width: 30px;
    margin-right: 20px;
    margin-left: 10px;
    padding: 1px; 
    padding-left: 0px;
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type=email], input[type=password], input[type=text] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  /*Dropdown CSS*/
  select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }
  
  select::after {
    content: '\25BC'; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  select option {
    background-color: #ffffff;
    color: #333333;
  }
  
  /* Buttons */
  button {
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
  }
  
  .login-button {
    background-color: #003C71;
    color: white;
  }
  
  .register-button, .forgot-password-button {
    background-color: transparent;
    color: #003C71;
    margin: 1px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .remember-me input[type=checkbox] {
    margin-right: 5px;
  }
  
  /* Utility classes */
  .hidden {
    display: none;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    .login-container {
      width: 100%;
      margin: 0;
      box-shadow: none;
      border-radius: 0;
    }
  }
  
  /*LoginRegister.js*/
  .login-register-container {
    text-align: center;
  }
  
  .header {
    background-color: #003C71;
    padding: 0.5px;
    font-size: 22px;
    opacity: 0.75;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .server-response {
    text-align: center;
    margin-top: 10px; 
  }
  
  .server-response p {
    color: red; 
    font-weight: bold; 
    font-size: 1.2em;
  }
  
  .login-buttons {
    margin-top: 20px;
  }
  
  button {
    display: block;
    padding: 15px; 
    margin: 10px auto; 
    cursor: pointer;
    background-color: #003C71; 
    color: white;
    border: none;
    border-radius: 8px; 
    font-size: 18px; 
    font-family: Arial, sans-serif;
  }

  /*Registration*/
  .register-container {
    width: 400px;
    margin: 20px auto 0; 
    background-color: rgba(177, 227, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } 

  /*Password Recovery*/
  .password-recovery {
    text-align: center;
    margin-top: 20px;
  }

  .password-recovery p {
    margin-bottom: 30px; 
  }

  .password-recovery input[type="email"] {
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  .password-recovery button {
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    background-color: #003C71; 
    color: #ffffff;
    cursor: pointer;
  }

  /*Registration Confirmation*/
  .confirmation-container {
    text-align: center;
  }

  .confirmation-container p {
    margin: 20px 0; 
  }

  .confirmation-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #003C71;
    color: #ffffff;
    cursor: pointer;
  }

  /*Chat Feedback*/
  .chat-feedback-container {
    width: 400px;
    margin: 20px auto 0; 
    background-color: rgba(177, 227, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .chat-feedback-container label {
    display: block;
    margin-bottom: 8px;
  }

  .chat-feedback-container select,
  .chat-feedback-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  .chat-feedback-container button {
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    background-color: #003C71; 
    color: #ffffff;
    cursor: pointer;
  }

  /*Add Course*/
  .add-course-form {
    width: 500px;
    margin: 20px auto 0; 
    background-color: rgba(177, 227, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-course-form form label {
    display: block;
    margin-bottom: 8px; 
  }
  
  .add-course-form form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }  

  .add-course-form button {
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    background-color: #003C71; 
    color: #ffffff;
    cursor: pointer;
  }

  /*Modify Course*/
  .modify-course-container {
    width: 500px;
    margin: 20px auto 0; 
    background-color: rgba(177, 227, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .modify-course-container h1 {
    text-align: center;
  }

  .modify-course-container label {
    display: block;
    margin-bottom: 8px;
  }

  .modify-course-container input,
  .modify-course-container select,
  .modify-course-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  .modify-course-container button {
    background-color: #003C71; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .modify-course-container li button {
    background-color: #ff6262;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /*Contact Support*/
  .contact-supp-container {
    width: 500px;
    margin: 20px auto 0; 
    background-color: rgba(177, 227, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .contact-supp-container h1 {
    text-align: center;
  }

  .contact-supp-container label {
    display: block;
    margin-bottom: 8px;
  }
  
  .contact-supp-container input,
  .contact-supp-container select,
  .contact-supp-container textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 8px; 
  }

  /*FAQs*/
  .faq {
    margin-left: 20px;
  }

  /*Generate Content*/
  .content-generation-form {
    width: 500px;
    margin: 20px auto 0; 
    background-color: rgba(177, 227, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .content-generation-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  /*Upload Files*/
  .upload-files-form {
    width: 500px;
    margin: 20px auto 0; 
    background-color: rgba(177, 227, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .upload-files-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  /* LiveTA.css */
  .live-ta {
    display: flex;
    font-family: 'Arial', sans-serif;
  }

  .sidebar {
    width: 250px;
    padding: 10px;
    background-color: #003C71;
    opacity: 0.50;
    height: 97vh; 
    overflow-y: auto; 
  }

  .sidebar::-webkit-scrollbar {
    width: 6px;
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .chat-history-text {
    padding: 10px;
    font-weight: bold;
    font-size: 20px; 
    text-align: center;
    color: #fff; 
  }

  .chat-preview {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    font-size: 15px; 
    color: #fff; 
  }

  .chat-preview:hover {
    background-color: #0056b3;
  }

  .new-chat-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #003C71;
    color: white;
    text-align: center;
    cursor: pointer;
  }

  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .chat-window {
    width: calc(100% - 250px);
    padding: 10px;
    background-color: #fff; 
    display: flex;
    flex-direction: column;
    height: 87vh; 
  }

  .messages {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
  }

  .messages::-webkit-scrollbar {
    width: 6px;
  }

  .messages::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .message {
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 140px;
    border-radius: 8px;
    background-color: #f2f2f2;
  }

  .message.user {
    background-color: #003C71;
    opacity: 0.50;
    color: white;
  }

  .input-area {
    display: flex;
  }

  .input-area input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 150px;
    width: 100%;
  }

  .input-area button {
    padding: 10px 20px;
    background-color: #003C71;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
  }


  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #194676;
    border: 1px solid #cccccc;
    z-index: 1;
    width: 125px;
    margin-right: 10px;
  }

  .SettingIcon {
    cursor: pointer;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
  }
  
  .settings-section {
    position: relative;
  }
  
  .dropdown-menu button {
    background-color: #194676;
    padding: 10px;
    border: none;
    cursor: pointer;
    line-height: 1;
    color: #fff; 
  }
  
  .settings-section:hover .dropdown-menu,
.settings-section:hover .dropdown-menu button {
  background-color: #5e8ab8; /* Your desired hover color */
}